


.header h1{
	color: #fff;
	letter-spacing: 5px;
	margin: 2% 0;
}
.header a{
	font-size: 50px;
	color: #fff;
	letter-spacing: 5px;
	font-weight: 500;
}
.container{
	max-width: 1024px;
	margin: 0 auto;
	width: 78%;
	height: auto;
}
.info{
	float: left;
	width: 49%;
	position: relative;
	margin-bottom:5%; 
	min-height:40px;
	transition:all 0.2s;
}
.per_info{
	position: absolute;
    bottom: 17%;
	width: 50%;
    left: 50%;
    margin-left: -25%;
}
.per_info h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 0.1em;
    text-align: center;
}
.per_info p{
	font-size:1em;
	color:#fff;
	margin:0.5em 0 0.5em 0;
	text-align: center;
}


.tag{
	width: 50%;
	padding: 0;
	background-color:#f4f4f4;
	float: left;
	transition:all 0.2s;
}
.tag_left{
	float: left;
	width: 85%;
	background-color:#f4f4f4;
	text-align: center;
	margin: 10% auto;
	display: none;
}
.tag_left img{	
	width: 80%;
}
.tag_left h4{
	text-align: center;
	color: #555;
	margin-left: 10px;
	font-size: 15px;
}
.tag_left h3{
	text-align: center;
	font-weight: 600;
	margin: 7px auto;
	color: #2b82ad;
	font-size:16px;
}
.tag_right{
	float: left;
	width: 10%;
}
.social {
	width: 200px;
	margin: 0 auto;
}
.social a{
	float: left;
	color: #000;
	margin: 7% auto;
}

// nav
.tag_list{
	list-style: none;
	margin: 0;
	text-align: center;
}
.tag_list img{
	width:70% ;
	text-align: center;

}
.tag_list li{
	height: 5%;
	float: left;
	text-align: center;
	border-top: 1px solid #ddd;
	background-color: #222;
	width:100%;
	border: 0;
	padding:24% 25% 23% 25%;
}
.tag_list li:nth-child(1){
	background-color: antiquewhite;
}
#bg{
	width: 5px;
	position: relative;
    padding: 50% 0;
	float: right;
	border: none;
	z-index: 1;
	background-color:rgb(223, 102, 54);
	overflow: hidden;
	top:0;
}
.tag_list li > a {
	display: block;
	height: 100%;
	color: black;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	transition: background 1s;
}
.gallery {

}
.gallery div{
	width: 40%;
	margin: 4%;
}
.gallery img {
	width: 100%;
}

.footer{
	margin: 20px auto;
}
.footer p{
	text-align: center;
	color: #eee;
	font-size: 0.9em;
	letter-spacing: 1px;
}